.luarc.json
Google
JetBrains
NecroDancer
QtProject.conf
Unknown Organization
alacritty
anthy
azuredatastudio
bottom
btop/btop.log
btop/themes
cef_user_data
coc
configstore
connections.db
dconf
dleyna-renderer-service.conf
dleyna-server-service.conf
dolphin-emu/
enchant
eog
evolution
fish/fish_variables
fontforge/
gedit
ghb/
gnome-boxes
gnome-control-center
gnome-initial-setup-done
gtk-3.0
htop
ibus
nvim/lazy-lock.json
libreoffice
libvirt
memos.json
menus
mimeapps.list
monitors.xml
monitors.xml~
nautilus
neofetch
nnn
nvim/lsp/
nvim/plugged
nvim/plugin
nvim/to-plugins
obs-studio
pavucontrol.ini
picom/
pulse
ranger/colorschemes/__*
rygel.conf
scripts/smoothcolor.sh
spotify
sway/inactive-windows-transparency.py
systemd
tbsm/
totem
twitch-cli
user-dirs.dirs
user-dirs.locale
vlc
wslu
yelp
zoomus.conf
