alacritty
anthy
azuredatastudio
bottom
coc
configstore
dconf
dleyna-renderer-service.conf
enchant
eog
evolution
fish/fish_variables
gedit
gnome-boxes
gnome-control-center
gnome-initial-setup-done
gtk-3.0
htop
ibus
libreoffice
libvirt
monitors.xml
monitors.xml~
nautilus
neofetch
nnn
nvim/plugged
pavucontrol.ini
pulse
ranger/colorschemes/__*
scripts/smoothcolor.sh
spotify
sway/inactive-windows-transparency.py
systemd
twitch-cli
user-dirs.dirs
user-dirs.locale
vlc
wslu
yelp
