*.d
*.qcow2
.gsd*
.luarc.json
Code/
Google
JetBrains
NecroDancer
QtProject.conf
Unknown Organization
anthy
azuredatastudio
bottom
btop/btop.conf
btop/btop.log
btop/themes
cef_user_data
coc
configstore
connections.db
dconf
discord
dleyna-renderer-service.conf
dleyna-server-service.conf
dolphin-emu/
enchant
eog
evolution
fontconfig
fontforge/
gedit
gh/
ghb/
gnome-boxes
gnome-control-center
gnome-initial-setup-done
gthumb/
gtk*
gtk-3.0
htop
ibus
libreoffice
libvirt
memos.json
menus
mimeapps.list
monitors.xml
monitors.xml~
nautilus
neofetch
nix/result
nnn
nvim/lazy-lock.json
nvim/lsp/
nvim/plugged
nvim/plugin
nvim/to-plugins
obs-studio
obsidian
pavucontrol.ini
picom/
pulse
ranger/colorschemes/__*
rygel.conf
scripts/smoothcolor.sh
spotify
spotify-tui/.spotify_token_cache.json
spotify-tui/client.yml
subterfuge/
sway/inactive-windows-transparency.py
systemd
tbsm/
totem
twitch-cli
user-dirs.dirs
user-dirs.locale
vimb/
vlc
wslu
yelp
zoom.conf
zoomus.conf
