* {
   font-family: 'JetBrainsMono Nerd Font';
   font-size: 14px;
   box-shadow: none;
   text-shadow: none;
}

window#waybar, .modules-center {
   background: rgba(0,0,0,0); /* transparent middle */
}

.modules-left, .modules-right {
   opacity: 100;
   color: #eeeeee;
   background: #0e0e0e;
   border-radius: 10px;
   margin: 5px 10px 0 10px;
}

/** left module items ****************/

#workspaces button, #workspaces button.visible {
   padding: 0 5px;
   color: #656565;
}

#workspaces button.focused {
   border-radius: 0.2em;
   border-top: 3px solid rgba(217,217,217,0.0);
   border-bottom: 3px solid rgba(0, 0, 0, 0);
   color: #eeeeee;
}

#workspaces button.urgent {
   color: #fb5599;
}

/** right module items ***************/

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #custom-jpdate, #tray {
   margin-right: 25px;
   min-width: 25px;
}

/* styling right module's leftmost item */
.modules-right > :first-child > :first-child {
   margin-left: 10px;
}

/* styling all tray items except leftmost */
#tray > :not(:first-child) > :first-child {
   padding-left: 10px;
}

#pulseaudio.muted {
   color: #656565;
}

#battery.full {
   color: #00BBFF;
}

#battery.warning {
   color: #ffcc66;
}

@keyframes blinking {
   0% {opacity: 1;}
   49% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 0;}
}

#battery.critical {
   animation-duration: 1.1s;
   animation-iteration-count: infinite;
   animation-name: blinking;
   animation-timing-function: linear;
   color: #fb5599;
}

#battery.charging {
   /* do not blink when charging + critical */
   animation: none;
}

#custom-jpdate {
   margin-right: 0;
}

#clock {
   margin: 0px 10px 0px 0px;
   padding-left: 10px;
}
