* {
	border-radius: 0;
	font-family:   'JetBrains Mono NL', 'FontAwesome 5 Free';
	font-size:     15px;
	box-shadow:    none;
	text-shadow:   none;
	transition-duration: 0.2s;
}

window, window#waybar.solo {
	color:      rgba(217, 216, 216, 1);
	background: #0e0e0e;
	border-radius: 20px;
}

#workspaces {
	margin: 0px 5px;
}

#workspaces button, #workspaces button.visible {
	padding:    0 5px;
	color:      #666666;
}

#workspaces button.focused {
	border-radius: 0.2em;
	border-top: 3px solid rgba(217,217,217,0.0);
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	color: #FFFFFF;
}

#workspaces button.urgent {
	color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #custom-jpdate {
	margin:     0px 10px 0px 10px;
	min-width:  25px;
}

#custom-jpdate {
	margin-right: 0;
}

#clock {
	margin:     0px 16px 0px 0px;
	padding-left: 10px;
	/* background: #FF0000; */
	/* min-width:  90px; */
}

#battery.warning {
	color:       rgba(255, 210, 4, 1);
}

#battery.critical {
	color:      rgba(238, 46, 36, 1);
}

#battery.full {
	color:      #00BBFF;
}

#battery.charging {
	/* color:      #f38019; */
}

#custom-storage.warning {
	color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
	color:      rgba(238, 46, 36, 1);
}
